.top{
display: block;
background-color: blue;
width: 200px;
height: 200px;
position: absolute;
right: 360px;
top: 410px;
}
.middle{
display: block;
margin: 0;
background-color:yellow ;
width: 200px;
height: 200px;
position: absolute;
left: 0px;

}
.bottom{
display: block;
background-color: red;
width: 200px;
height: 200px;
position: absolute;
top: 210px;
left: 200px;
}
 div{
   margin: 0;
 }
 body{
   margin: 0;
 }
